---
import { Image } from "astro:assets";
import BetaForm from "../components/BetaForm.astro";
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.astro";
import H1 from "../components/H1.astro";
import { AstroSeo } from '@astrolib/seo';
---
<AstroSeo
  title="Recipe Organizer"
  description="Recipe Keeper TasteBuddy"
/>

<Layout title="Welcome to Taste Buddy">
  <Main>
    <H1 text="Recipe Organizer - Discover the Chef in You with TasteBuddy" />

    <p class="text-gray-300 text-l mb-24 max-sm:mb-14 text-center">
      TasteBuddy is your ultimate culinary companion, available on iOS and soon on Android.
      <br />Create, organize and manage your recipes with ease,
      all in one place. Whether you're a seasoned chef or a home cook, our
      intuitive app helps you explore new dishes and refine your favorites.<br
      /><br />Dive into Cooking Mode to enjoy step-by-step guidance and
      hands-free operation, making every cooking session a breeze.
    </p>
    <div class="flex justify-center mb-8">
      <a href="https://apps.apple.com/app/id6554007741">
        <img
          src="images/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg"
          alt="Download on the App Store"
          class="h-16 w-auto hover:scale-105 transition-transform duration-300"
        />
      </a>
    </div>
    <Image
      src="/images/screenshots.png"
      alt="taste buddy screenshots"
      width={1280}
      height={64}
      format="png"
    />
  </Main>
</Layout>
