---
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.astro";
import H1 from "../components/H1.astro";
---

<Layout title="Identity Linked Successfully">
  <Main>
    <H1 text="Success!" />
    <p class="text-center text-lg mt-4 text-white">
      Your identity has been successfully linked. You can return to the app.
    </p>
  </Main>
</Layout>

<style>
  .text-center {
    text-align: center;
  }
  .text-lg {
    font-size: 1.125rem;
  }
  .mt-4 {
    margin-top: 1rem;
  }
  .mt-8 {
    margin-top: 2rem;
  }
  .transition-colors {
    transition-property: background-color;
  }
  .duration-300 {
    transition-duration: 300ms;
  }
  .rounded {
    border-radius: 0.375rem;
  }
  .px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
</style>